AELF_PT_RELOAD="True"
AELFGPT_PORT="8000"
AELFGPT_ENVIRONMENT="dev"
AELFGPT_LLM_URL="http://localhost:7869"
AELFGPT_LLM_NAME="codeqwen"
ATLAS_URI="mongodb+srv://azeezbalogun74:<password>@cluster0.nzbehil.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"